body{
    background-image: url(./img/background.JPG);
    background-repeat: repeat;
    font-family: Century Gothic;
}

#nav-bar{
    position: sticky;
    z-index: 1;
    top: 0px;
}
.navbar-brand{
    font-size: 30px !important;
}
.navbar{
    padding-left: 60px;
    padding-right: 60px;
}
#nav-bar a{
    font-size: 20px;
}
#nav-bar a:hover{
    color: white;
}
#about{
    position: relative;
    top: -100px;
}
.border1{
    border: 1px solid rgb(47, 50, 61);
}

#profile-pic{
    position: relative;
    top: -50px;
}
.img-thumbnail{
    border-color: teal;
}
#row1, #row2, #row3 {
    background-color: white;
    justify-content: center;
}
#row4{
    padding: 15px 15px;
}
#row5, #row6, #row7 #row9, #row10{
    padding: 15px 20px;
}

#row10{
    align-items: center;
    justify-items: center;
}
.container span{
    padding: 10px 20px ;
}
.container hr{
    margin-top: 7px;
}
.media{
    padding-right: 25px;
    width: 100%;
}
.media span{
    width: 22%;
    text-align: center;
}
.font1{
    font-family: Century Gothic;
    font-size: 22px;
    color: teal;
}
@media (max-width: 575.98px){
    .font1{
        font-size: 18px;
    }
}

.edu-col{
    padding: 15px 15px 25px 0px;
    
}
#col4{
    justify-items: center;
    text-align: center;
}
.column{
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}
.icon{
    padding: 10px 10px;
   
}
#social_icon .fa{
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(19, 21, 27);
}
#social_icon .fa:hover{
    text-decoration: none;
}

.exp-img{
    width:80%;
    height: 80%;
    margin-left: 10%;
}

@media (max-width: 575.98px) { 
    .exp-img{
        width: 30%;
        height: 30%;
        justify-items: center;
        justify-content: center;
        margin-left: 0px;
    }
    .col-sm{
        width: 100%;
        text-align: center;
        height: 30%;
        font-size: 12px;
    }
    .col-sm h5{
        font-size: 16px;
    }
 }